<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
        <customErrors mode="Off"/>
    </system.web>
    <system.serviceModel>
        <services>
            <service behaviorConfiguration="ServidorServiceBehavior" name="PowerMessenger.WcfService.ServidorService">
                <endpoint address="" binding="netTcpBinding" bindingConfiguration="portSharingBinding" name="PowerMessengerServidorServiceEndpoint" contract="PowerMessenger.Dominio.Interfaces.IServidor">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MyServiceMexTcpBidingEndpoint" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:808/PowerMessenger/ServidorService.svc" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ServidorServiceBehavior">
                    <serviceMetadata httpGetEnabled="false" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="portSharingBinding" portSharingEnabled="true"/>
            </netTcpBinding>
        </bindings>
    </system.serviceModel>
</configuration>